APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/ShanghaiHOST = ''[DATABASE]TYPE = mysqlHOSTNAME =DATABASE =USERNAME =PASSWORD =HOSTPORT = 3306CHARSET = utf8DEBUG = truePREFIX =[WECHAT]MINI_PROGRAM_APPID =MINI_PROGRAM_SECRET =OFFICIAL_ACCOUNT_APPID =OFFICIAL_ACCOUNT_SECRET =PAYMENT_APPID =PAYMENT_MCH_ID =PAYMENT_KEY =[redis]hostname =password =[LANG]default_lang = zh-cn